<html>
    <body>
        <!-- calls getPerson().getName() and sanitizes it -->

<h1>  {{notification.title}} </h1> <br><br>


<b>Notification uuid :</b>  {{notification.notificationGuid}} <br>
<b>User uuid :</b>  {{notification.userGuid}} <br>
<b>Device uuid :</b> {{notification.deviceGuid}} <br>
<b>Type:</b> {{notification.eventType}}     <br>
<b>subtype : </b>{{notification.eventSubtype}} <br>
<b>Latitude : </b>{{notification.geofenceLat}} <br>
<b>Longitude : </b>{{notification.geofenceLon}} <br>
<b>Radius : </b>{{notification.geofenceRadiusMetres}}  <br>
<b>Title : </b>{{notification.title}} <br>
<b>Content : </b>{{notification.content}} <br>
<b>Created : </b>{{notification.eventTimestamp}}<br>
<b>Sent : </b>{{notification.sentTimestamp}}<br>
<br><br><br>




<a href="/notifications/user/{{notification.userGuid}}/view">Back to user notifications</a> 
    </body>
</html>