<img ng-src="/img/notifications/{{notification.eventType}}.png" class="phone">

<h1>{{notification.title}}</h1>



<p> Notification ID : {{notification.notificationGuid}}</p>
<p> Device ID : {{notification.deviceGuid}}</p>
<p> User ID : {{notification.userGuid}}</p>
<p> Event type :{{notification.eventType}}</p>
<p> Event subtype : {{notification.eventSubtype}}</p>
<p> Latitude :{{notification.geofenceLat}}</p>
<p> Longitude :{{notification.geofenceLon}}</p>
<p> Radius :{{notification.geofenceRadiusMetres}}</p>
<p> Notification title :{{notification.title}}</p>
<p> Content :{{notification.content}}</p>
<p> Notification Creation Timestamp :{{notification.eventTimestamp}}</p>
<p> Notification Sent Timestamp :{{notification.sentTimestamp}}</p>
<p> Read By user : {{notification.readByUser}}</p>
