<div class="container-fluid">

    <div class="page-header">
        <h1>Notifications<small> Notifications for user</small></h1>
    </div>



    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">


            <!--<div class="col-md-4">.col-md-4</div>-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <!--<option value="none"></option>-->
                <option value="name">Alphabetical</option>
                <option value="eventTimestamp">Newest</option>
            </select>
        </div>
    </div>

    <br>
    <br>
    <br>

    
    <ul class="notifications">

        <!--<div ng-controller="ReadCrtl" ng-init="init(notification.readByUser)">-->




        <li ng-repeat="notification in mynotifications| filter:query| orderBy:orderProp" class="thumbnail">


            <div class="row">
                <div class="col-md-2">
                    <a href="#/notifications/{{notification.notificationGuid}}" class="thumb"><img ng-src="img/notifications/{{notification.eventType}}.png"></a>
                </div>

                <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-6">
                            <a href="#/notifications/{{notification.notificationGuid}}">{{notification.eventType}}</a>
                        </div>


                        <!--<div ng-if="read">-->
                        <div ng-if="notification.readByUser == true">
                            <div class="col-md-6">
                                <span class="label label-success"> READ</span>
                            </div>
                        </div>
                        <!--<div ng-if="!read">-->
                        <div ng-if="notification.readByUser == false">
                            <div class="col-md-6">
                                <span class="label label-default"> NOT READ</span>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{notification.title}}</p>
                        </div>

                        <!--<div ng-if="!read">-->
                        <div ng-if="notification.readByUser == false">


                            <div class="col-md-6">
                                <button type="button" ng-click="markNotificationRead(notification)" class="btn btn-primary">Mark Read</button>
                                <button type="button" ng-click="deleteNotification(notification)" class="btn btn-info">Delete</button>
                            </div>
                        </div>   
                        <div ng-if="notification.readByUser == true">
                            <div  class="col-md-6">
                                <button type="button" ng-click="deleteNotification(notification)" class="btn btn-info">Delete</button>
                            </div>
                        </div>   
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                        </div>


                    </div>

                </div>

            </div>

        </li>
    </ul>


</div>