<html>
    <body>
        <!-- calls getPerson().getName() and sanitizes it -->


{{#notifications}}
  
<h1><b>{{title}}</b></h1><br>
  {{eventType}}</b><br>
  {{eventTimestamp}}</b><br>

<a href="/notifications/{{notificationGuid}}/view">More</a> 
<br><br>


{{/notifications}}

    </body>
</html>


